@using LAHJA.Data.UI.Components.Base
@using LAHJA.Data.UI.Components.Category
@using LAHJA.Data.UI.Components.Plan.Css
@using LAHJA.Them
@inject NavigationManager Navigation
@inherits CardCategory<CategoryComponent>
@inject ISnackbar Snackbar
<style>

  /*   .card-hover {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

        .card-hover:hover {
            transform: scale(1.05);
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        }

    .card:hover {
        transform: scale(3.7);
    } */





</style>

  

 @if (Params != null)
{
    <div Class="d-flex flex-wrap justify-content-around align-items-center" >

    @foreach (var item in Params)
    {

            <MudCard  Class="w30 RCardP">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudAvatar Color="@AppColors.BASE_COLOR_ENUM">I</MudAvatar>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body1">@item.Name</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardMedia Image="chatbot-03.png" Height="250" />
                <MudCardContent>
                    <MudText Typo="Typo.body2">@item.Description</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" />
                    <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
                    <MudRating SelectedValue="2" Color="@AppColors.BASE_COLOR_ENUM" />
                </MudCardActions>
            </MudCard>

@* 
        <MudItem xs="12" sm="12" md="4" > 

            <MudCard Elevation="12" Class="rounded-lg  card-hover m-1" Style="height:400px !important">

                    <MudTooltip Text="@item.Description" Class="p-2" Disabled="true" Color="@AppColors.BASE_COLOR_ENUM" Placement="Placement.Top">
                <MudCardHeader>
                    <CardHeaderContent>
                                <MudText Typo="Typo.body2"  Class="textHeader" Style="font-size:20px !important" Align="Align.Center">@item.Name</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    
            
                      <img src="chatbot-03.png" style="height:200px !important;width:100% !important" />
                    

                    @if (!string.IsNullOrEmpty(@item.Name))
                    {
                        <MudText Typo="Typo.subtitle2" Class="@TemplateCategoryStyle.MudText">@item.Description</MudText>
                    }

                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="@AppColors.BASE_COLOR_ENUM"  Style="width:50%;" OnClick="@(()=>Submit(@item))">Start Now</MudButton>
                </MudCardActions>
                </MudTooltip>
            </MudCard>
         
        </MudItem> *@

    }

   
   </div> 

}






@code 
{




    private async Task Submit(CategoryComponent inputCategory)
    {
        try
        {

            if (OnSubmit.HasDelegate)
            {
                await OnSubmit.InvokeAsync(inputCategory);
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
        }
    }
}
