 
  <style>
      .vb{
        width: 100%;
        height: 100%;
        border-radius: 28px 196px
      }
  </style>
@if (@Paramss.Src != null)
{



    <div class="@Paramss.ClassContanier" style="padding: 2% 7%;">

        <img src="@Paramss.Src" class="@Paramss.ClassImg" style="width:100%;height:100%;border-radius: 28px 196px " />

</div>
       
   
}
@*
@code {
    [Parameter] public CardIconts Paramss { set; get; } = new CardIconts();

}  
@* 
@if (@Paramss.Src != null)
{
    <li class="@Paramss.ClassContanier">
        <a href="#" class="@Paramss.ClassIcon" style="--bs-bg-opacity:0.05">
            <img src="@Paramss.Src" class="@Paramss.ClassImg" alt="icon">
        </a>
    </li>
}
 *@
@code {
    [Parameter] public CardIconm Paramss { set; get; } = new CardIconm();

}