@using System.Threading
@using LAHJA.Data.UI.Components.ServiceCard
@using LAHJA.Pages.FeatureServices
@using LAHJA.Them
@inject ISnackbar Snackbar

@inject NavigationManager Navigation;
@page "/ModelServiceVits"
@page "/ModelServiceVits/{TypeLanguage}"



 
<MudContainer Class="mt-16 px-0" Style="overflow:hidden;position:relative;height:100%;" MaxWidth="MaxWidth.False">




    <MudDrawer @bind-Open="@_open" Fixed="false" Elevation="1"
               Variant="@DrawerVariant.Mini" OpenMiniOnHover="true" Style="font-size:12px!important">
        <MudDrawerHeader>
          
        </MudDrawerHeader>
        <MudNavMenu>
            <MudNavGroup Title="@(TypeLanguage ? "Type" : "«·‰Ê⁄ ")" Icon="@Icons.Material.Filled.SpatialAudio">
                <MudRadioGroup @bind-Value="@selectedType">

                    @foreach (var property in propertyValues["Type"])
                    {
                        <MudRadio T="string" Value="@property">@property</MudRadio>
                    }

                </MudRadioGroup>
            </MudNavGroup>

            <MudNavGroup Title="@(TypeLanguage ? "Framework" : "«·≈ÿ«— ")" Icon="@Icons.Material.Filled.FilterFrames">
                <MudRadioGroup @bind-Value="@selectedFramework">
                    @foreach (var property in propertyValues["Framework"])
                    {
                        <MudRadio Value="@property">@property</MudRadio>
                    }

                </MudRadioGroup>
            </MudNavGroup>

            <MudNavGroup Title="@(TypeLanguage ? "Voice" : "«·’Ê  ")" Icon="@Icons.Material.Filled.SurroundSound">
                <MudRadioGroup @bind-Value="@selectedVoice">
                    @foreach (var property in propertyValues["Voice"])
                    {
                        <MudRadio Value="@property">@property</MudRadio>
                    }

                </MudRadioGroup>
            </MudNavGroup>

            <MudNavGroup Title="@(TypeLanguage ? "Language" : "«··€… ")" Icon="@Icons.Material.Filled.Language">
                <MudRadioGroup @bind-Value="@selectedLanguage">
                    @foreach (var property in propertyValues["Language"])
                    {
                        <MudRadio Value="@property">@property</MudRadio>
                    }

                </MudRadioGroup>
            </MudNavGroup>

            <MudNavGroup Title="@(TypeLanguage ? "Dialect" : "«··ÂÃ… ")" Icon="@Icons.Material.Filled.MergeType">
                <MudRadioGroup @bind-Value="@selectedDialect">
                    @foreach (var property in propertyValues["Dialect"])
                    {
                        <MudRadio Value="@property">@property</MudRadio>
                    }
                </MudRadioGroup>
            </MudNavGroup>

            <MudNavGroup Title="@(TypeLanguage ? "Quality" : "«·ÃÊœ… ")" Icon="@Icons.Material.Filled.FilterFrames">
                <MudRadioGroup @bind-Value="@selectedQuality">


                    @foreach (var property in propertyValues["Quality"])
                    {
                        <MudRadio Value="@property">@property</MudRadio>
                    }
                </MudRadioGroup>
            </MudNavGroup>

            <MudNavGroup Title="@(TypeLanguage ? "Accuracy" : "«·œﬁ… ")" Icon="@Icons.Material.Filled.AccessTime">
                <MudRadioGroup @bind-Value="@selectedAccuracy">
                    @foreach (var property in propertyValues["Accuracy"])
                    {
                        <MudRadio Value="@property">@property</MudRadio>
                    }

                </MudRadioGroup>
            </MudNavGroup>

            <MudNavGroup Title="@(TypeLanguage ? "Speed" : "«·”—⁄… ")" Icon="@Icons.Material.Filled.Speed">
                <MudRadioGroup @bind-Value="@selectedSpeed">
                    @foreach (var property in propertyValues["Speed"])
                    {
                        <MudRadio Value="@property">@property</MudRadio>
                    }
                </MudRadioGroup>
            </MudNavGroup>
            <MudButton OnClick="ApplyFilter"
                       Variant="Variant.Filled"
                         Color="@AppColors.BASE_COLOR_ENUM" Style="font-size:12px!important">@(TypeLanguage ? "Apply Filter" : " ÿ»Ìﬁ ")</MudButton>


        </MudNavMenu>

    </MudDrawer>




   






@if(DataBuild!=null)
{

     

     

     <MudGrid Style="font-size:10px!important">

            @foreach (var item in _pagedData)

            {

                  <MudItem xs="12" sm="6" md="4">

               

            <MudPaper Elevation="2" Class="pa-4"  >



                        <div Class="launch-service-panel" style="position:relative">
                          
                          
                           <MudGrid >

                               <MudItem xs="5" sm="6" md="6">

                                        <MudText Typo="Typo.body2">LastUpdated:@item.LastUpdated</MudText>  

                                     
                                        <MudText Typo="Typo.body2"  >@item.Description</MudText>
                                     
                                            <MudText Typo="Typo.body2">Instal:@item.UsageCount</MudText>

 
                                       
                               </MudItem>
                             <MudItem xs="7" sm="6" md="6">
                                <MudImage Src="@item.ModelImageUrl" Height="90" onclick="OnclickCard" />

                                    </MudItem>


                           </MudGrid>


                            <div class="launch-bg-service-panel justify-content-center align-items-center">

                                <MudButton Variant="Variant.Filled" Class="@AppTextStyle.TEXT_TRANSFORM_NORMAL" OnClick="Submit" Color="@AppColors.BASE_COLOR_ENUM">Launch</MudButton>
                            </div>
                        </div>
            </MudPaper>
        </MudItem>
        
   
      


            }
        </MudGrid>

}
else
{

     <MudAlert  Severity="Severity.Error">

            @(TypeLanguage ? "Not Data !!!" : "·«‰ÊÃœ »Ì«‰« ")
     
     
     </MudAlert>



}
<div class="d-flex flex-column align-center">
        <MudPagination Count="@_totalPages"
                       @bind-Page="@_currentPage"
                       SelectedChanged="LoadPageData"
                       Class="my-4"
                       Variant="Variant.Filled"
                       Rectangular="true" Color="@AppColors.BASE_COLOR_ENUM" />

</div>
</MudContainer>


<MudDivider/>
<MudDivider />
<MudContainer Class="mt-16 px-2">


    <FeatureServices />


</MudContainer>
 
 

@code 


{





    [Parameter]
    public string TypeMode { get; set; } = " ";
    [Parameter] public bool TypeLanguage { get; set; } = false;



    private string selectedType;
    private string selectedFramework;
    private string selectedVoice;
    private string selectedLanguage;
    private string selectedDialect;
    private string selectedQuality;
    private string selectedAccuracy;
    private string selectedSpeed;







    private int _currentPage = 1;

    private int _itemsPerPage =6;

    private int _totalPages = 0;







    private List<ModelProperties> _pagedData = new();















    private void LoadPageData(int page)

    {

        

        int skip = (page - 1) * _itemsPerPage;



        _pagedData = DataBuild.Skip(skip).Take(_itemsPerPage).ToList();



    }













    private string searchQuery = string.Empty;
    private bool _open = false;

    private void ToggleDrawer()
    {

        _open = !_open;
    }
    private Dictionary<string, List<string>> propertyValues = null;
    private string selectedStore;
    private string selectedLibrary;
    private string selectedCommunity;

    public Color SelectedColor { get; set; } = Color.Default;


    public void OnclickCard()
    {
        try
        {
            
                Navigation.NavigateTo("/TextToText");
          
            
            

        }
        catch
        {
            

        }

    }

    private string value1;
   
    List<ModelProperties> DataBuild = null;
    List<ModelProperties> DataBuild1 = null;

    protected override void OnInitialized()
    {

        if (TypeLanguage)
        {
            DataBuild = PropertyGenerator.GenerateModelPropertiesList(15, 0);
            propertyValues = PropertyGenerator.propertyValues;
        }
        else
        {
            DataBuild = PropertyGenerator.GenerateModelPropertiesList(15, 1);
            propertyValues = PropertyGenerator.propertyValuesInArabic;
        }


        if (!string.IsNullOrWhiteSpace(TypeMode))
        {

            DataBuild = DataBuild.Where((x => x.Type ==TypeMode)).ToList();


        }
        else
        {
            DataBuild1 = DataBuild;

        }











        _totalPages = (int)Math.Ceiling((double)DataBuild.Count / _itemsPerPage);



        LoadPageData(_currentPage);



        StateHasChanged();
    }




    private void clear()
    {
        selectedType = "";
        selectedFramework = "";
        selectedVoice = "";
        selectedLanguage = "";
        selectedDialect = "";
        selectedQuality = "";
        selectedAccuracy = "";
        selectedSpeed = "";
    }

    private async Task Submit()

    {

        try

        {



            Navigation.NavigateTo("/TextToText");


        }

        catch (Exception ex)

        {

            Snackbar.Add(ex.Message, Severity.Error);

        }

    }





    public void OnColorSelected(Color value)
    {
        SelectedColor = value;
    }


    private void ApplyFilter()
    {


        try{





            DataBuild = DataBuild1;
            if (!string.IsNullOrWhiteSpace(selectedType))
            {

               
                DataBuild = DataBuild.Where((x => x.Type == selectedType)).ToList();


            }
            if (!string.IsNullOrWhiteSpace(selectedFramework))
            {
                // Snackbar.Add(selectedType, Severity.Error);
                DataBuild= DataBuild.Where((x => x.Framework == selectedFramework)).ToList();

            }

            if (!string.IsNullOrWhiteSpace(selectedVoice))
            {
                // Snackbar.Add(selectedType, Severity.Error);
                DataBuild = DataBuild.Where((x => x.Voice == selectedVoice)).ToList();

            }
            if (!string.IsNullOrWhiteSpace(selectedLanguage))
            {
                // Snackbar.Add(selectedType, Severity.Error);
                DataBuild = DataBuild.Where((x => x.Language == selectedLanguage)).ToList();

            }
              if (!string.IsNullOrWhiteSpace(selectedDialect))
            {
                // Snackbar.Add(selectedType, Severity.Error);
                DataBuild = DataBuild.Where((x => x.Dialect == selectedDialect)).ToList();

            }
            if (!string.IsNullOrWhiteSpace(selectedQuality))
            {
                // Snackbar.Add(selectedType, Severity.Error);
                DataBuild = DataBuild.Where((x => x.Quality == selectedQuality)).ToList();

            }

            if (!string.IsNullOrWhiteSpace(selectedAccuracy))
            {
                // Snackbar.Add(selectedType, Severity.Error);
                DataBuild = DataBuild.Where((x => x.Accuracy == selectedAccuracy)).ToList();

            }
            if (!string.IsNullOrWhiteSpace(selectedSpeed))
            {
                // Snackbar.Add(selectedType, Severity.Error);
                DataBuild = DataBuild.Where((x => x.Speed == selectedSpeed)).ToList();

            }





            _totalPages = (int)Math.Ceiling((double)DataBuild.Count / _itemsPerPage);







             LoadPageData(_currentPage);

            clear();
            StateHasChanged();


        }
        catch(Exception ex)
        
        {

        }

      

        
    }
}